.test:before {
  content:'';
  display: inline-block;
  position: relative;
  left: 3px;
  border: 6px solid transparent;
  border-left-color: #000;
}
.test.active:before {
  left: 0;
  top: 3px;
  border-color: #000 transparent transparent;
}
.test:hover {
  cursor: pointer;
}
