// breakpoint indicator

$phone: 480px;
$tablet: 768px;
$desktop: 960px;

body {
  background: #ff9;
  &:after {
    content: "< #{$phone}";
    display: block;
    font-size: 26px;
    color: #a7a7a7;
    text-align: center;
    margin: 20px 0;
  }
}

@media all and (min-width: $phone) {
  body {
    background: #fed;
    &:after {
      content: ">= #{$phone}";
    }
  }
}

@media all and (min-width: $tablet) {
  body {
    background: #eef;
    &:after {
      content: ">= #{$tablet}";
    }
  }
}

@media all and (min-width: $desktop) {
  body {
    background: #fe9;
    &:after {
      content: ">= #{$desktop}";
    }
  }
}
