ul {
  font-size: 0;
  text-align: center;

  @if $legacy-support-for-ie8 {
    letter-spacing: -1em;
    word-spacing: -1em;
  }

}

li {
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;

  @if $legacy-support-for-ie8 {
    letter-spacing: normal;
    word-spacing: normal;
  }

  // demo visual
  padding: 5px;
  background: #ddd;
  border: 1px solid #ccc;

  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *display: inline;
    *zoom: 1;
  }

}
